<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
          Leave
    
        </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Leave</li>
            </ol>
        </section>
        <div class="box-body">
            <form [formGroup]="formLeave"
                   (ngSubmit)="send()">
                <div class="form-group">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
    
                                <th>Apply Leave</th>
                                <th> CasualLeave(s) </th>
                                <th>Optional Holiday(s)</th>
                            </tr>
                        </thead>
                        <tbody>
    
                        </tbody>
                    </table>
              
    
                
                    <div class="row">
                        <div class="col-sm-4 form-group">
    
                            <label for="name">
                                From Date:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar-plus-o">
                                  </i>
                                </div>
                                <input id="from-date" name="from_date" [(ngModel)]="existing_emp_leave === null ? null : existing_emp_leave.from_date" type="text" formControlName="fromDate" placeholder="" class="form-control input-md" [attr.disabled]="( play_with_leave_button_to == 'nutral' ) ? true : null">
                            </div>
                            <div class="alert alert-danger" 
                                *ngIf="fromDate.touched && !fromDate.valid">
                                <div *ngIf="fromDate.errors.required">
                                     Date is required!
                                </div>
                                <div *ngIf="fromDate.errors.pattern">
                                    invalid date!                         
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
    
                            <label for="name">
                                To Date:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar-plus-o">
                                      </i>
                                </div>
                                <input id="to-date" name="to_date" [(ngModel)]="existing_emp_leave === null ? null : existing_emp_leave.to_date" type="text" formControlName="toDate" placeholder="" class="form-control input-md" [attr.disabled]="( play_with_leave_button_to == 'nutral' ) ? true : null">
                            </div>
                            <div class="alert alert-danger" 
                                *ngIf="toDate.touched && !toDate.valid">
                                <div *ngIf="toDate.errors.required">
                                     Date is required!
                                </div>
                                <div *ngIf="toDate.errors.pattern">
                                    invalid date!                         
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class=" col-sm-4 form-group">
                            <label>Type</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                        <div class=" col-sm-4 form-group">
                            <label>Reason</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-4 form-group">
    
                            <label for="name">
                                Emergency Phone:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone">
                                  </i>
                                </div>
                                <input id="emergency-phone" name="emergency_no" [(ngModel)]="existing_emp_leave === null ? null : existing_emp_leave.emergency_no"  type="text" formControlName="emergencyPhone" placeholder="" class="form-control input-md" [attr.disabled]="( play_with_leave_button_to == 'nutral' ) ? true : null" >
                            </div>
                            <div class="alert alert-danger" 
                                *ngIf="emergencyPhone.touched && !emergencyPhone.valid">
                                <div *ngIf="emergencyPhone.errors.required">
                                     PhoneNumber is required!
                                </div>
                                <div *ngIf="emergencyPhone.errors.pattern">
                                    Invalid Number!                         
                                </div>
                            </div>
                        </div>
                        
                </div>  
                <button *ngIf="play_with_leave_button_to == 'create'" type="submit" class="btn btn-primary">Submit</button>
                        <button *ngIf="play_with_leave_button_to == 'nutral'" class="btn btn-primary" (click)="edit_form()">Update</button>
                        <button *ngIf="play_with_leave_button_to == 'edit'" type="submit" class="btn btn-primary">Save</button>
                        <button  *ngIf="play_with_leave_button_to == 'edit'" class="btn btn-success" click="cancel_edit()">Cancel</button>            
            </form>
    
        </div>
</div>