<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
      Leave

    </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Rewards And Recognition </a></li>
            <li class="active">Policies</li>
        </ol>
    </section>
    <div class="box-body">
        <form class="form-row">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">Rewards And Recognition</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th class="col-xs-6">Name</th>
                              <th>Effective Date</th>
                              <th>Expiry Date</th>
                              <th>View/Download</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>GeethSoft</td>
                              <td> </td>
                              <td></td>
                              <td><button type="button" class="btn btn-box-tool" data-widget="collapse">
                                  <i class="fa  fa-eye">&nbsp;</i><i class="fa fa-download"></i></button> 
                                </td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
              </div>
          </div>
        </form>
    </div>                        

</div>    
