<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
    
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Profile</a></li>
                <li class="active">Insurence</li>
            </ol>
        </section>
            <div class="box-body">
                <form [formGroup]="formInsurance">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    Spouse Name:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope-o">
                            </i>
                                    </div>
                                    <input id="spouse-name" name="spouse_name" type="text" formControlName="spouseName" placeholder="email" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf="spouseName.touched && !spouseName.valid">
                                    <div *ngIf="spouseName.errors.required">
                                        Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    Spouse Date of Birth:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope-o">
                            </i>
                                    </div>
                                    <input id="spouse-date-of-birth" name="spouse_date_of_birth" type="text" formControlName="spouseDateOfBirth" placeholder="email" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf=" spouseDateOfBirth.touched && !spouseDateOfBirth.valid">
                                    <div *ngIf="spouseDateOfBirth.errors.required">
                                        Email is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    No of Children:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-male">
                                </i>
                                    </div>
                                    <input id="no-of-children" name="no_of_children" type="text" formControlName="noOfChildren" placeholder="fatherName" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf=" noOfChildren.touched && !noOfChildren.valid">
                                    <div *ngIf="noOfChildren.errors.required">
                                        Field required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    Child1 Name:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-mobile">
                                </i>
                                    </div>
                                    <input id="child-Name" name="child_Name" type="text" formControlName="childName" placeholder="PhoneNumber" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf="childName.touched && !childName.valid">
                                    <div *ngIf="childName.errors.required">
                                        Name is required!
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="name">
                                    Child 1 Date Of Birth:</label>
    
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-mobile">
                                </i>
                                    </div>
                                    <input id="child2-date-of-birth" name="child2_date_of_birth" type="text" formControlName="childDateOfBirth" placeholder="Phone number" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf="childDateOfBirth.touched && !childDateOfBirth.valid">
                                    <div *ngIf="childDateOfBirth.errors.required">
                                        DOB is required!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    Child2 Name:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-birthday-cake">
                                </i>
                                    </div>
                                    <input id="child2-name" name="child2_name" type="text" formControlName="childrenName" placeholder="Date oF Birth" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf="childrenName.touched && !childrenName.valid">
                                    <div *ngIf="childrenName.errors.required">
                                        Date of Birth is required!
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    Child 2 Date Of Birth:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-birthday-cake">
                            </i>
                                    </div>
                                    <input id="child2-date-of-birth" name="child2_date_of_birth" type="text" formControlName="childrenDateOfBirth" placeholder="Date oF Joining" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf="childrenDateOfBirth.touched && !childrenDateOfBirth.valid">
                                    <div *ngIf="childrenDateOfBirth.errors.required">
                                        DOB is required!
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <div class="row">
    
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    Card Num:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-birthday-cake">
                                </i>
                                    </div>
                                    <input id="card-num" name="card_num" type="text" formControlName="cardNum" placeholder="Date oF Birth" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf="cardNum.touched && !cardNum.valid">
                                    <div *ngIf="cardNum.errors.required">
                                        Blood Group is required!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
    
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    TPA:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-credit-card">
                                </i>
                                    </div>
                                    <input id="TPA" name="TPA" formControlName="TPA" type="text" placeholder="" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf="TPA.touched && !TPA.valid">
                                    <div *ngIf="TPA.errors.required">
                                        TPA is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
    
                                <label for="name">
                                    TPA Contact Num:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-credit-card">
                                </i>
                                    </div>
                                    <input id="TPA-Contact-Num" name="TPA_Contact_Num" formControlName="TPAContactNum" type="text" placeholder="" class="form-control input-md">
                                </div>
                                <div class="alert alert-danger" *ngIf="TPAContactNum.touched && !TPAContactNum.valid">
                                    <div *ngIf="TPAContactNum.errors.required">
                                        TPA Contact Num is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
</div>                        