<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
      Task Tracker

    </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> IT </a></li>
            <li class="active">Policies</li>
        </ol>
    </section>
    <div class="box-body">
        <form class="form-row">
            
                
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="box">
                      <div class="box-header">
                          <div class="row">
                              <div class=" col-sm-4 form-group">
                                  <label>Entry For</label>
                                  <select class="form-control">
                                      <option>10</option>
                                      <option>Select</option>
                                  </select>
                              </div>
                                
                               
                          </div>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th class="col-xs-1">Unit</th>
                              <th class="col-xs-1">Unit Owner</th>
                              <th class="col-xs-1">Role</th>
                              <th class="col-xs-1">Activity</th>
                              <th class="col-xs-1">Sub Activity</th>
                              <th class="col-xs-1">Target</th>
                              <th class="col-xs-1">Target EndDate</th>
                              <th class="col-xs-1">Measure Frequency</th>
                              <th class="col-xs-1">Measure Status</th>
                              <th class="col-xs-1">% Of Copletion</th>
                              <th class="col-xs-1">Support Req</th>
                              <th class="col-xs-1">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>GeethSoft</td>
                              <td> </td>
                              <td></td>
                              <td><button type="button" class="btn btn-box-tool" data-widget="collapse">
                                  <i class="fa  fa-eye">&nbsp;</i><i class="fa fa-download"></i></button> 
                                </td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
              </div>
          </div>  
        </form>
    </div>                
</div>    