<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
      Leave

    </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Leave</li>
        </ol>
    </section>
    <div class="box-body">
        <form class="form-row">
            <div class="form-group">
                <div class="row">
                        <div class=" col-sm-6 form-group">
                                <label>Entry For</label>
                                <select class="form-control">
                                    <option>Select</option>
                                </select>
                        </div>
                        <div class="col-sm-6 form-group">
    
                                <label for="name">
                                    Date:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar-plus-o">
                                          </i>
                                    </div>
                                    <input id="Date" name="Date" type="text" placeholder="" class="form-control input-md">
                                </div>
        
                        </div>
                </div>    
            </div>
            <div class="form-group">
                    <div class="row">
                            <div class=" col-sm-1 form-group">
                                    <div class="checkbox">
                                            <label> Billable</label>
                                            <input type="checkbox">
                                              
                                            
                                    </div>
                            </div>
                            <div class=" col-sm-2 form-group">
                                    <label>Entry For</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                            </div>
                            <div class=" col-sm-2 form-group">
                                    <label>Entry For</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                            </div>
                            <div class=" col-sm-2 form-group">
                                    <label>Entry For</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                            </div>
                            <div class=" col-sm-2 form-group">
                                    <label>Entry For</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                            </div>
                    </div>

            </div>                      
        </form>
    </div>    

</div>
